<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de Progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="percent1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="percent1 +'%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="percent2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="percent2 +'%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- <app-incrementador (changeValue)="actualizar($event)"  nombre="Progress Azul" [percent]="percent1"></app-incrementador> -->
                <app-incrementador (ValueUpdate)="percent1= $event" nombre="Progress Azul" [percent]="percent1"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (ValueUpdate)="percent2= $event" nombre="Progress Verde" [percent]="percent2"></app-incrementador>
            </div>
        </div>
    </div>
</div>