<div class="row">
    <div class="col-6" *ngFor="let grafico of graficos">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ grafico.leyenda }} </h4>
                <app-grafico-dona [labels]="grafico.labels" [data]="grafico.data" [type]="grafico.type"></app-grafico-dona>
            </div>
        </div>
    </div>
    <!-- <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <app-grafico-dona leyenda="Dona2"></app-grafico-dona>
                </div>
            </div>
        </div>
    </div> -->
</div>